@charset "utf-8";
/* CSS Document */
/* --- My PHR User Login Page Style --- */
/* --- Revised 14 November 2023 --- */
/* --- https://www.shadesofanime.website --- */

/* -- Document -- */

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Font Import */

html,body {
    height: 100%;
}
body {
    background-color: rgb(54, 69, 79);
    margin: 0;
}

/* -- Layout -- */

.container {
    font-family: Arial,Helvetica,sans-serif;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Buttons -- */

button {
	border-radius: 20px;
	border: 1px solid rgb(235, 241, 255);
	background-color: rgb(33, 150, 243)!important;;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: rgb(212, 29, 109);
	border-color: rgb(235, 241, 255);
}

/* -- Forms -- */

form{
    margin: 0;
    position: relative;
    background: rgba(0,0,0,.7);
    padding: 60px 10px 20px 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-item {
    padding: 15px 10px 10px 10px;
    flex:1;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
}

.form-item label {
    display: block;
    flex:1;
    margin-bottom: 5px;
    cursor: pointer;
}

.form-item input {
    padding: 4px 0px;
    flex:1;
    background: transparent;
    border-top: none;
    outline: none;
    border-left: none;
    border-right: none;
    caret-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    transition: all 200ms;
    border-bottom-color: rgb(255, 255, 255);
}

.form-item input:focus {
    border-bottom-color: rgb(255, 127, 80);
}

.form-item button {
    flex:1;
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color:#fff;
    letter-spacing: .5px;
    border-radius: 30px;
    background-color: #ff3838;
    border: none;
    outline:none;
    transition: all 200ms;
}

.form-item button:hover {
    cursor: pointer;
    background: rgba(255, 56, 56,.7);
}

.form-item a {
    text-decoration: none;
}

.is-link {
    color: rgb(255, 255, 255);
    flex: 1;
    font-size: 14px;
}

.is-link:hover {
    text-decoration: underline;
}

/* -- Images -- */

.header {
    position: absolute;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    top: -17%;
    left: 30%;
    z-index: 4;
}

.header img {
    width: 128px;
    height: 128px;
}

/* -- Footer -- */

footer {
    background-color: #ebf1ff;
    color: #000000;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: rgb(255, 0, 0);
}

footer a {
    color: rgb(61, 151, 191);
    text-decoration: none;
}