@charset "utf-8";
/* CSS Document */
/* --- My PHR Portal Home Page Style --- */
/* --- Revised 01 October 2023 --- */
/* --- https://www.myphr.site --- */

/* -- Document -- */

/* - Imports -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /* Font Import */
@import "inc/all.css"; /* Uniform Sheets */

/* - Body - */
html {
  background-image: url("../img/bg/A002.jpg");
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
}

/* - Unique Classes - */

/* Sidebar Navigation */
.sidebar {
  background: rgba(113, 121, 126, 0.45);
  font-size: 0.65em;
  height: 100vh;
  position: fixed;
  width: 25%;
}

.nav {
  font-weight: bold;
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  
}

.nav ul {
  list-style: none;
}

.nav ul li {
  font-size: 1.15em;
  margin: 3.2em 0;
  position: relative;
}

.nav ul li a {
  color: rgba(0, 0, 0, 1);
  display: block;
  letter-spacing: 0.4em;
  line-height: 6em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease-out 300ms;
}

.nav ul li.active a {
  color: rgb(138, 154, 91, 1);
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
  background: black;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
  bottom: 0;
  content: '';
  height: 0.2em;
  left: 0;
  position: absolute;
  width: 100%;
}

/* Center Screen */
.centerScreen {
  float: right;
  height: 100vh;
  position: relative;
  width: 75%;
}

.centerScreen .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.centerScreen a {
  position: relative;
}

.centerScreen a img {
  height: 128px;
  width: 128px;
}

.centerScreen p {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
