@charset "utf-8";
/* CSS Document */
/* --- Uniformed Alerts Schemes --- */
/* --- Revised 01 October 2023 --- */
/* --- https://www.shadesofanime.website --- */

/*<div class="alert-danger">
<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
This is the HTML code for the alert box.
</div>*/


/* The alert message box */
.alert-danger {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert-success {
    padding: 20px;
    background-color: #04AA6D; /* Green */
    color: white;
    margin-bottom: 15px;
}

.alert-primary {
    padding: 20px;
    background-color: #2196F3; /* Blue */
    color: white;
    margin-bottom: 15px;
}

.alert-warning {
    padding: 20px;
    background-color: #ff9800; /* Yellow */
    color: white;
    margin-bottom: 15px;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}