@charset "utf-8";
/* CSS Document */
/* --- Uniformed Button Schemes --- */
/* --- Revised 01 October 2023 --- */
/* --- https://www.shadesofanime.website --- */

/* HTML Code For Buttons */
/* <a href="#" class="-ButtonClassName-">Text</a> */

/* -- Start Button Classes */

/* Blue - Rectangle */
.blue-rectangle {
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: #007dc1;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}
.blue-rectangle:hover {
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color: #0061a7;
}
.blue-rectangle:active {
	position: relative;
	top: 1px;
}


/* Blue - Rounded */
.btn-blue-rounded {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 19px;
	font-weight: bold;
	padding: 12px 37px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}
.btn-blue-rounded:hover {
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color: #476e9e;
}
.btn-blue-rounded:active {
	position: relative;
	top: 1px;
}

/* Dark Grey - Rounded */
.btn-dark-grey-rounded {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.btn-dark-grey-rounded:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

.btn-dark-grey-rounded:active {
	position: relative;
	top: 1px;
}

/* Green - Rectangle */
.btn-green-rectangle {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border-radius: 4px;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5b8a3c;
}

.btn-green-rectangle:hover {
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
}

.btn-green-rectangle:active {
	position: relative;
	top: 1px;
}

/* Green - Rounded */
.btn-green-rounded {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.btn-green-rounded:hover {
	background-color: #5cbf2a;
}

.btn-green-rounded:active {
	position: relative;
	top: 1px;
}

/* Light Orange - Rounded */
.btn-light-orange {
	box-shadow: inset 0px 1px 0px 0px #fce2c1;
	background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color: #ffc477;
	border-radius: 6px;
	border: 1px solid #eeb44f;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #cc9f52;
}

.btn-light-orange:hover {
	background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color: #fb9e25;
}

.btn-light-orange:active {
	position: relative;
	top: 1px;
}

/* Olive - Rounded */
.btn.olive-rounded {
	box-shadow: inset 0px 0px 14px -3px #f2fadc;
	background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color: #dbe6c4;
	border-radius: 6px;
	border: 1px solid #b2b8ad;
	display: inline-block;
	cursor: pointer;
	color: #757d6f;
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ced9bf;
}

.btn.olive-rounded:hover {
	background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color: #9ba892;
}
.btn.olive-rounded:active {
	position: relative;
	top: 1px;
}

/* Purple - Rounded */
.btn-purple-rounded {
	box-shadow: inset 0px 1px 0px 0px #efdcfb;
	background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color: #dfbdfa;
	border-radius: 6px;
	border: 1px solid #c584f3;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9752cc;
}

.btn-purple-rounded:hover {
	background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color: #bc80ea;
}

.btn-purple-rounded:active {
	position: relative;
	top: 1px;
}
