@charset "utf-8";
/* CSS Document */
/* --- Uniformed Color Schemes --- */
/* --- Revised 01 October 2023 --- */
/* --- https://www.myphr.site --- */

/* General Colors */
.scheme-amber,
.scheme-hover-amber:hover  {
    color:  rgb(0, 0, 0)!important;
    background-color:  rgb(255, 193, 7)!important;
}
.scheme-aqua,
.scheme-hover-aqua:hover  {
    color:  rgb(0, 0, 0)!important;
    background-color:  rgb(0, 255, 255)!important;
}

.scheme-blue,
.scheme-hover-blue:hover  {
    color:  rgb(255, 255, 255)!important;
    background-color:  rgb(33, 150, 243)!important;
}
.scheme-light-blue,
.scheme-hover-light-blue:hover  {
    color:  rgb(0, 0, 0)!important;
    background-color:  #87CEEB!important;
}
.scheme-brown,
.scheme-hover-brown:hover  {
    color:  rgb(255, 255, 255)!important;
    background-color:  #795548!important;
}

.scheme-cyan,
.scheme-hover-cyan:hover  {
    color:  rgb(0, 0, 0)!important;
    background-color: #00bcd4!important;
}
.scheme-blue-grey,
.scheme-hover-blue-grey:hover,
.scheme-blue-gray,
.scheme-hover-blue-gray:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #607d8b!important;
}
.scheme-green,
.scheme-hover-green:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #4CAF50!important;
}
.scheme-light-green,
.scheme-hover-light-green:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #8bc34a!important;
}

.scheme-indigo,
.scheme-hover-indigo:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #3f51b5!important;
}

.scheme-khaki,
.scheme-hover-khaki:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #f0e68c!important;
}

.scheme-lime,
.scheme-hover-lime:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #cddc39!important;
}

.scheme-orange,
.scheme-hover-orange:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #ff9800!important;
}

.scheme-deep-orange,
.scheme-hover-deep-orange:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #ff5722!important;
}

.scheme-pink,
.scheme-hover-pink:hover    {
    color: rgb(255, 255, 255)!important;
    background-color: #e91e63!important
}

.scheme-purple,
.scheme-hover-purple:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #9c27b0!important;
}

.scheme-deep-purple,
.scheme-hover-deep-purple:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #673ab7!important;
}

.scheme-red,
.scheme-hover-red:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #f44336!important;
}

.scheme-sand,
.scheme-hover-sand:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #fdf5e6!important;
}

.scheme-teal,
.scheme-hover-teal:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: #009688!important;
}

.scheme-yellow,
.scheme-hover-yellow:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: #ffeb3b!important;
}

.scheme-white,
.scheme-hover-white:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
}

.scheme-black,
.scheme-hover-black:hover  {
    color: rgb(255, 255, 255)!important;
    background-color: rgb(0, 0, 0)!important;
}

.scheme-grey,
.scheme-hover-grey:hover,
.scheme-gray,
.scheme-hover-gray:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(158, 158, 158)!important;
}

.scheme-light-grey,
.scheme-hover-light-grey:hover,
.scheme-light-gray,
.scheme-hover-light-gray:hover  {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(241, 241, 241)!important;
}

.scheme-dark-grey,
.scheme-hover-dark-grey:hover,
.scheme-dark-gray,
.scheme-hover-dark-gray:hover {
    color: rgb(255, 255, 255)!important;
    background-color: rgb(97, 97, 97)!important;
}

.scheme-pale-red,
.scheme-hover-pale-red:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 221, 221)!important;
}

.scheme-pale-green,
.scheme-hover-pale-green:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(221, 255, 221)!important;
}

.scheme-pale-yellow,
.scheme-hover-pale-yellow:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
}

.scheme-pale-blue,
.scheme-hover-pale-blue:hover {
    color: rgb(0, 0, 0)!important;
    background-color: rgb(221, 255, 255)!important;
}

/* Text Colors */
.scheme-text-amber,
.scheme-hover-text-amber:hover {
    color: rgb(255, 193, 7)!important;
}

.scheme-text-aqua,
.scheme-hover-text-aqua:hover {
    color: rgb(0, 255, 255)!important;
}

.scheme-text-blue,
.scheme-hover-text-blue:hover {
    color: rgb(33, 150, 243)!important;
}

.scheme-text-light-blue,
.scheme-hover-text-light-blue:hover {
    color: rgb(135, 206, 235)!important;
}

.scheme-text-brown,
.scheme-hover-text-brown:hover {
    color: rgb(121, 85, 72)!important;
}

.scheme-text-cyan,
.scheme-hover-text-cyan:hover {
    color: rgb(0, 188, 212)!important;
}

.scheme-text-blue-grey,
.scheme-hover-text-blue-grey:hover,
.scheme-text-blue-gray,
.scheme-hover-text-blue-gray:hover {
    color: rgb(96, 125, 139)!important;
}

.scheme-text-green,
.scheme-hover-text-green:hover {
    color: rgb(76, 175, 80)!important;
}

.scheme-text-light-green,
.scheme-hover-text-light-green:hover {
    color: #8bc34a!important;
}

.scheme-text-indigo,
.scheme-hover-text-indigo:hover {
    color: #3f51b5!important;
}

.scheme-text-khaki,
.scheme-hover-text-khaki:hover {
    color: #b4aa50!important;
}

.scheme-text-lime,
.scheme-hover-text-lime:hover {
    color: #cddc39!important
}

.scheme-text-orange,
.scheme-hover-text-orange:hover {
    color: #ff9800!important;
}

.scheme-text-deep-orange,
.scheme-hover-text-deep-orange:hover {
    color: #ff5722!important;
}

.scheme-text-pink,
.scheme-hover-text-pink:hover {
    color: #e91e63!important;
}

.scheme-text-purple,
.scheme-hover-text-purple:hover {
    color: #9c27b0!important;
}

.scheme-text-deep-purple,
.scheme-hover-text-deep-purple:hover {
    color: #673ab7!important;
}

.scheme-text-red,
.scheme-hover-text-red:hover {
    color: #f44336!important;
}

.scheme-text-sand,
.scheme-hover-text-sand:hover {
    color: #fdf5e6!important;
}

.scheme-text-teal,
.scheme-hover-text-teal:hover {
    color: #009688!important;
}

.scheme-text-yellow,
.scheme-hover-text-yellow:hover {
    color: #d2be0e!important;
}

.scheme-text-white,
.scheme-hover-text-white:hover {
    color: rgb(255, 255, 255)!important;
}

.scheme-text-black,
.scheme-hover-text-black:hover {
    color: rgb(0, 0, 0)!important;
}

.scheme-text-grey,
.scheme-hover-text-grey:hover,
.scheme-text-gray,
.scheme-hover-text-gray:hover {
    color: #757575!important;
}

.scheme-text-light-grey,
.scheme-hover-text-light-grey:hover,
.scheme-text-light-gray,
.scheme-hover-text-light-gray:hover {
    color: #f1f1f1!important;
}

.scheme-text-dark-grey,
.scheme-hover-text-dark-grey:hover,
.scheme-text-dark-gray,
.scheme-hover-text-dark-gray:hover {
    color: #3a3a3a!important;
}

/* Border Colors */
.scheme-border-amber,
.scheme-hover-border-amber:hover {
    border-color: #ffc107!important
}

.scheme-border-aqua,
.scheme-hover-border-aqua:hover {
    border-color: #00ffff!important
}

.scheme-border-blue,
.scheme-hover-border-blue:hover {
    border-color: #2196F3!important
}

.scheme-border-light-blue,
.scheme-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}

.scheme-border-brown,
.scheme-hover-border-brown:hover {
    border-color: #795548!important
}

.scheme-border-cyan,
.scheme-hover-border-cyan:hover {
    border-color: #00bcd4!important
}

.scheme-border-blue-grey,
.scheme-hover-border-blue-grey:hover,
.scheme-border-blue-gray,
.scheme-hover-border-blue-gray:hover {
    border-color: #607d8b!important
}

.scheme-border-green,
.scheme-hover-border-green:hover {
    border-color: #4CAF50!important
}

.scheme-border-light-green,
.scheme-hover-border-light-green:hover {
    border-color: #8bc34a!important
}

.scheme-border-indigo,
.scheme-hover-border-indigo:hover {
    border-color: #3f51b5!important
}

.scheme-border-khaki,
.scheme-hover-border-khaki:hover {
    border-color: #f0e68c!important
}

.scheme-border-lime,
.scheme-hover-border-lime:hover {
    border-color: #cddc39!important
}

.scheme-border-orange,
.scheme-hover-border-orange:hover {
    border-color: #ff9800!important
}

.scheme-border-deep-orange,
.scheme-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}

.scheme-border-pink,
.scheme-hover-border-pink:hover {
    border-color: #e91e63!important
}

.scheme-border-purple,
.scheme-hover-border-purple:hover {
    border-color: #9c27b0!important
}

.scheme-border-deep-purple,
.scheme-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}

.scheme-border-red,
.scheme-hover-border-red:hover {
    border-color: #f44336!important
}

.scheme-border-sand,
.scheme-hover-border-sand:hover {
    border-color: #fdf5e6!important
}

.scheme-border-teal,
.scheme-hover-border-teal:hover {
    border-color: #009688!important
}

.scheme-border-yellow,
.scheme-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}

.scheme-border-white,
.scheme-hover-border-white:hover {
    border-color: rgb(255, 255, 255)!important
}

.scheme-border-black,
.scheme-hover-border-black:hover {
    border-color: rgb(0, 0, 0)!important
}

.scheme-border-grey,
.scheme-hover-border-grey:hover,
.scheme-border-gray,
.scheme-hover-border-gray:hover {
    border-color: #9e9e9e!important
}

.scheme-border-light-grey,
.scheme-hover-border-light-grey:hover,
.scheme-border-light-gray,.scheme-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}

.scheme-border-dark-grey,
.scheme-hover-border-dark-grey:hover,
.scheme-border-dark-gray,
.scheme-hover-border-dark-gray:hover {
    border-color: #616161!important
}

.scheme-border-pale-red,
.scheme-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}

.scheme-border-pale-green,
.scheme-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}

.scheme-border-pale-yellow,
.scheme-hover-border-pale-yellow:hover {
    border-color: rgb(255, 255, 255)!important
}

.scheme-border-pale-blue,
.scheme-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}